<ion-content class="my-list">
<ion-list>
  <ion-item class="item item-avatar" ng-repeat="folder in folders"
	    ng-click="folderOnTouchEnd(folder.id)">
    <img src="img/icone/ios7-folder.png" />
    <span stype="float:left">
    <h2>{{folder.name}}</h2>
    <p>
      {{folder.owner}}
    </p>
    </span>
    <span class="badge badge-calm" style="font-size:larger;">
      {{folder.size}}
    </span>
  </ion-item>
</ion-list>
<ion-list>
  <ion-item class="item item-avatar" ng-repeat="file in files"
	    ng-click="itemOnTouchEnd(file.info.pseudo_owner,
			  file.info.path,
			  file.info.real_path,
			  file.info.name,
			  file.info.id)">
    <img ng-src="{{file.info.icon}}" />
    <span style="float:left;">
    <h2>{{file.info.name}}</h2>
    <p>
      {{byteToReadable(file.info.size)}}
    </p>
    </span>
 <button class="button button-calm" style="float:right;"
	 ng-click="itemOnLongPress(file.info.pseudo_owner,
	 file.info.path,
	 file.info.real_path,
	 file.info.name,
	 file.info.id,
	 file.info.owner,
	 file.info.upload_date,
	 file.info.mime_type,
	 file.info.size)">
      <i class="icon ion-ios7-settings-strong"></i>
    </button>
  </ion-item>
</ion-list>

<script id="modal-menu.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-dark">
      <h3 class="title">Options</h3>
    </ion-header-bar>
    <ion-content>
      <ion-list>
	<ion-item ng-click="download()" class="item item-icon-left">
	  <i class="icon ion-ios7-cloud-download"></i>
	  Download
	</ion-item>
	<a class="item item-icon-left" ng-click="showInfo()">
	  <i class="icon ion-ios7-paper"></i>
	  Info
	</a>
	<a class="item item-icon-left" ng-click="showRename()">
	  <i class="icon ion-ios7-compose"></i>
	  Rename
	</a>
<!--	<a class="item item-icon-left" ng-click="">
	  <i class="icon ion-ios7-copy"></i>
	  Copy
	</a>-->
	<a class="item item-icon-left" ng-click="delete(showId)">
	  <i class="icon ion-ios7-trash"></i>
	  Delete
	</a>
      </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-calm">
      <button class="title button button-full button-clear"
	      style="color:black;"
	      ng-click="closeModal('menu')">
	Close
      </button>
    </ion-footer-bar>
  </div>
</script>

<script id="modal-info.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-dark">
      <h3 class="title">Info</h3>
    </ion-header-bar>
    <ion-content>
      <ion-list>
	<ion-item>
	  Name
	  <span class="item-note">
	    {{showName}}
	  </span>
	</ion-item>
	<ion-item>
	  Size
	  <span class="item-note">
	    {{byteToReadable(showSize)}}
	  </span>
	</ion-item>
	<ion-item>
	  Type
	  <span class="item-note">
	    {{showType}}
	  </span>
	</ion-item>
	<ion-item>
	  Upload Date
	  <span class="item-note">
	    {{timeToReadable(showUpDate)}}
	  </span>
	</ion-item>
	<ion-item>
	  Owner
	  <span class="item-note">
	    {{showOwner}}
	  </span>
	</ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-calm">
      <button class="title button button-full button-clear"
	      style="color:black;"
	      ng-click="closeModal('info')">
	Close
      </button>
    </ion-footer-bar>
  </div>
</script>
  <ng-include src="'partials/loading.html'"></ng-include>

<script id="modal-rename.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-dark">
      <h3 class="title">Rename</h3>
    </ion-header-bar>
    <ion-content>
      <ion-list>
	<ion-item class="item-input">
	  <span class="input-label">Name</span>
	  <input type="text" ng-model="rename.name" style="text-align:right">
	</ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-calm">
      <button class="title button button-full button-clear"
	      style="color:black;"
	      ng-click="saveNewName(showId, rename)">
	Close/Save
      </button>
    </ion-footer-bar>
  </div>
</script>
  <ng-include src="'partials/loading.html'"></ng-include>

</ion-content>
