# Symfony dirs
webapp/app/acsilserver.db
webapp/app/bootstrap.php.cache
webapp/app/cache
webapp/app/logs
webapp/bin
webapp/build
webapp/vendor
webapp/composer.phar
webapp/web/bundles
webapp/web/css
webapp/web/monitoring
webapp/web/uploads

# Desktop client
desktop/AcsilTest2/toto/Release
desktop/AcsilTest2/toto/Debug
desktop/AcsilTest2/LibAcsync/Release
desktop/AcsilTest2/LibAcsync/Debug

# Mobile webapp
mobile/html5/node_modules
mobile/html5/platforms

# Store vendors
store/app/vendors
store/node_modules

store/service/storedb.sqlite

# Generated builds
system/build-win
system/pkg

# Backup files
*.orig
*.bak
*.swp
*~
