<div>
  <table class="table table-striped">
      <thead>
        <tr>
          <th> </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>video1</td>
          <td>100MB</td>
        </tr>
        <tr>
          <td>pic1</td>
          <td>6MB</td>
        </tr>
        <tr>
          <td>music1</td>
          <td>12MB</td>
        </tr>
        <tr>
          <td>text1</td>
          <td>0.2MB</td>
        </tr>
      </tbody>
    </table>
</div> <!-- <div ng-controller="rListCtrl"> -->
