/* Width */
body {
	margin: 0;
	padding: 0;
	background: url('../img/subtle-pattern-2.jpg');
}

#background {
	width: 100%;
	margin: 0;
	padding: 0;
}

#site {
	min-height: 500px;
	margin: auto;
}

#ent {
	height: 80px;
}

#user {
	text-align: right;
	//margin: 1% -75px 0 0;
	padding: 0;
	right: 0;
}

#pictureAccount {
	width: 4%;
	height: 4%;
}