<div class="text-center">
  <button ng-if="notInstalled()" type="button" class="btn btn-primary" ng-click="install()"> INSTALL THE APP</button>
  <form class="form-horizontal" role="form" novalidate>
    <div class="form-group">
      <label for="inputUrl3" class="col-xs-3 control-label">Server url</label>
      <div class="col-xs-9">
	<input type="text" class="form-control" id="inputUrl3"
	       name="url" ng-model="server.url" save>
      </div>
    </div>
    <div ng-if="session != null">
    </div>
  </form>
</div>
