{% extends '::base.html.twig' %}

{# Page for picture's uploading #}

{% block body %}

<h1>Uploader photo de profil</h1>

<form action="#" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="Uploader Document" />
</form>

{% endblock %}