Source: acsilserver
Section: web
Priority: extra
Maintainer: Emmanuel OHLAND <ohland_e@acsilserver.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://acsilserver.com/
#Vcs-Git: git@bitbucket.org:iWooli/acsilserver.git
#Vcs-Browser: https://bitbucket.org/iWooli/acsilserver/src

Package: acsilserver
Architecture: all
Depends: libapache2-mod-php5 | php5-cgi | php5,
    php5-mysql | php5-mysqli,
    php5-intl, php-apc,
    apache2 | lighttpd | httpd,
    mysql-client, mysql-server,
    dbconfig-common,
    ucf (>= 0.28),
    ${misc:Depends}
Recommends: mysql-client
Description: Web based file sharing system
 This package provides easy-to-use file sharing and synchronizing.
 .
 It allow users to use features such as :
   - Online/offline control
   - Personal/group access
   - Advanced files permissions (based on ACL)
   - Upload/download/share/copy/rename/delete
