<div class="container">
  <div class="list-group">
    <div ng-repeat="folder in folders">
      <a ng-href="#list/{{folder.id}}" class="list-group-item disabled">
	<div>
	  {{folder.name}}
	</div>
      </a>
    </div>
    <div  ng-repeat="file in files">
      <a ng-href="{{fileToUrl(file.info.pseudo_owner, file.info.path)}}" class="list-group-item">
	<div>
	  {{file.info.name}}
	</div>
      </a>
    </div>
  </div> <!-- <div ng-controller="rListCtrl"> -->

  <ng-include src="'partials/loading.html'"></ng-include>

</div>
