<ion-content class="my-list">
<ion-list>
  <ion-item class="item item-avatar" ng-repeat="folder in folders"
	    ng-click="folderOnTouchEnd(folder.id)">
    <img src="img/icone/ios7-folder.png">
    <span stype="float:left">
    <h2>{{folder.name}}</h2>
    <p>
      {{folder.owner}}
    </p>
    </span>
    <span class="badge badge-calm" style="font-size:larger;">
      {{folder.size}}
    </span>
  </ion-item>
</ion-list>
<ion-list>
  <ion-item class="item item-avatar" ng-repeat="file in files"
	    ng-click="itemOnTouchEnd(file.info.pseudo_owner,
			  file.info.path,
			  file.info.real_path,
			  file.info.name)">
    <img ng-src="{{file.info.icon}}">
    <span style="float:left;">
    <h2>{{file.info.name}}</h2>
    <p>
      {{byteToReadable(file.info.size)}}
    </p>
    </span>
 <button class="button button-calm" style="float:right;"
	 ng-click="itemOnLongPress(file.info.pseudo_owner,
			  file.info.path,
			  file.info.real_path,
			  file.info.name,
			  file.info.id)">
      <i class="icon ion-ios7-settings-strong"></i>
    </button>
<!--    <span class="item-note">
      <h2>{{timeToReadable(file.info.upload_date)}}</h2>
      <p>
	{{timeToReadable(file.info.upload_date)}}
      </p>
   </span>
-->
  </ion-item>
</ion-list>

<!--    <div  ng-repeat="file in files">
      <div class="list-group-item">
	<div class="row file-info">
	  <div on-touch-end="itemOnTouchEnd(file.info.pseudo_owner, file.info.path, file.info.real_path)"
	       on-long-press="itemOnLongPress(file.info.id)"
	       on-mouse-up="itemOnTouchEnd(file.info.pseudo_owner, file.info.path, file.info.real_path)"
	       on-long-click="itemOnLongPress(file.info.id)"
	       class="col-xs-8 col-sm-8 col-md-8 apply-padding">
	    <div class="list-bold">
	      {{file.info.name}}
	    </div>
	    <div>
	      {{file.info.owner}}
	    </div>
	  </div>
	  <div on-touch-end="itemOnTouchEnd(file.info.pseudo_owner, file.info.path, file.info.real_path)"
	       on-long-press="itemOnLongPress(file.info.id)"
	       on-mouse-up="itemOnTouchEnd(file.info.pseudo_owner, file.info.path, file.info.real_path)"
	       on-long-click="itemOnLongPress(file.info.id)"
	       class="col-xs-4 col-sm-4 col-md-4 apply-padding">
	    <div class="list-bold">
	      {{byteToReadable(file.info.size)}}
	    </div>
	    <div>
	      {{timeToReadable(file.info.upload_date)}}
	    </div>
	  </div>
	  <div ng-if="file.info.id == showid" class="file-drop text-center row">
	    <a ng-href="{{fileGetUrl(file.info.pseudo_owner, file.info.path, file.info.real_path)}}"
	       download="file.info.name">
	      <div class="col-xs-3 col-sm-3 col-md-3">
		<span class="glyphicon glyphicon-cloud-download">
	      </div>
	    </a>
	    <div class="col-xs-3 col-sm-3 col-md-3">
	      <span class="glyphicon glyphicon-edit">
	    </div>
	    <div class="col-xs-3 col-sm-3 col-md-3">
	      <span class="glyphicon glyphicon-user">
	    </div>
	    <div class="col-xs-3 col-sm-3 col-md-3">
	      <span class="glyphicon glyphicon-trash">
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div> -->
<!-- <div ng-controller="rListCtrl"> -->
<script id="my-modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-dark">
      <h3 class="title">Options</h3>
    </ion-header-bar>
    <ion-content>
      <ion-list>
	<a target="_self"
	   download="{{showDownloadName}}"
	   href="{{showPath}}"
	   class="item item-icon-left">
	  <i class="icon ion-ios7-cloud-download"></i>
	  Download
	</a>
	<a class="item item-icon-left" ng-click="">
	  <i class="icon ion-ios7-compose"></i>
	  Edit
	</a>
	<a class="item item-icon-left">
	  <i class="icon ion-ios7-trash"></i>
	  Delete
	</a>
      </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-calm">
      <button class="title button button-full button-clear"
	      style="color:black;"
	      ng-click="closeModal()">
	Close
      </button>
    </ion-footer-bar>
  </div>
</script>
  <ng-include src="'partials/loading.html'"></ng-include>

</ion-content>
