/**
 * 	Page home
 */



/**
 * 	Page admin
 */
#editUser {
	padding: 10px;
}


span.userPicture, 
span.userId, 
span.email, 
span.role {
	display: none;
}

#itemList {
	border-left: 1px solid #000000;
}

.userRow {
	padding: 20px 0;
	border-bottom: 1px dashed #CCCCCC;
}

.userRow:nth-child(odd) {
	background-color: #E6E6E6;
}

.userRow.admin {
	border-left: 10px solid #FF0000;
}

.userRow.user {
	border-left: 10px solid #2ECCFA;
}

.userOptions, .fileOptions {
	text-align: center;
}

.userOptions ul, .fileOptions ul {
	text-align: left;
}

#newUser, #resetPassword, #deleteAccount, #changeRole,
#addFile, #shareFile, #deleteFile, #addFolder {
	padding: 20px;
}

/**
 * 	Files
 */

.usersList, .sharedWith {
	display: none;
}

.fileInfos {
	padding-left: 10px;
}
