<md-dialog aria-label="Mango (Fruit)">
    <md-toolbar class="demo-toolbar md-default-theme">
        <div class="md-toolbar-tools">
            <span>Change password</span>
            <span flex=""></span>
            <md-button type="submit" ng-click="cancel()" class="md-fab">
                <md-icon icon="image/icons/ic_close_24px.svg" style="width: 24px; height: 24px;"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="passwordForm">
        <md-content>
            <div layout="column" layout-margin>
                <div layout="row" layout-margin>
                    <md-input-container flex>
                        <label>Old password</label>
                        <input type="password" name="old" ng-model="password.old" required>
                    </md-input-container>
                </div>
                <div layout="row" layout-margin>
                    <md-input-container flex>
                        <label>New password</label>
                        <input type="password" name="new" ng-model="password.new" required>
                    </md-input-container>
                </div>
                <div layout="row" layout-margin>
                    <md-input-container flex>
                        <label>Repeat password</label>
                        <input type="password" name="repeat" ng-model="password.repeat" required>
                    </md-input-container>
                </div>
            </div>
        </md-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button class="md-raised" ng-click="cancel()">
                Cancel
            </md-button>
            <md-button type="submit" class="md-raised md-primary" ng-click="save()">
                Save
            </md-button>
        </div>
    </form>
</md-dialog>